body{

}
p{
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 500;
}
img {
    max-width: 100%;
    height: auto;
}
 
#banner .container-fluid .row{
    background-image: linear-gradient(to bottom, rgba(217,167,199,0.6), 
    rgba(255,252,220,0.6)),url(../pic/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}
.center{
    text-align: center;
}
#banner .quote{
    padding-left: 15%;
}
#banner .quote h1{
    font-size: 5rem;
    color: rgb(56 56 56);
    padding-left: 20px;
    border-left: 10px solid orange;
}
#banner .quote p{
    font-size: 1.2rem;
    color: rgb(72 71 71);
    padding-left: 20px;
  }
section{
    margin-bottom: 5rem;
}

h2{
    font-size: 3rem;
}
#define-ques .col-4{
    margin: 0 2rem;
}
#define-ques h2{
    margin-top: 1rem;
    margin-bottom: 4.2rem;
    text-align: center;
}
#define-ques .outer{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);
   
}
#define-ques .inner{
    text-align: center;
}
#define-ques .down{
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    padding-right: 20px;
    padding-top: 1rem;
    font-size: 1.5rem;  
}
#problem-a-measure h2{
    margin-top: 1rem;
    margin-bottom: 4.2rem;
    text-align: center;
}
#problem-a-measure h3{
    font-size: 4.05rem;
}
#problem-a-measure li{
    font-size: 2.3rem;
}
#problem-a-measure .hmw{
    margin-top: 7rem;
    margin-bottom: 2rem;
}

#problem-a-measure .card-header{
    background-color: rgb(245 118 0 / 83%);
    color: white;
    font-weight: 500;
}
#problem-a-measure .card h4{
    
}
#problem-a-measure .card li{
    font-size: 1.25rem;
    font-weight: 600;
}
#problem-a-measure .card span{
    color: red;
}
#intro-product h2{
    margin-bottom: 2rem;
}
#intro-product h3{
    font-size: 2rem;
    font-weight: 500;
}
#intro-product ul{
    list-style: none;
    font-size: 1.5rem;
}
#intro-product .white{
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 1.8rem;
}
#intro-product p{
    font-size: 1.5rem;
    font-weight: 600;
}
